{% extends "base.html" %}

{% block main %}
<section class="profile-section">
    <div class="profile-container">
        <div class="profile-header">
            <div class="profile-img-container">
                <img src="{{url_for('static', filename='profile_img.jpeg')}}" alt="">
            </div>
            <div class="profile-header-info">
                <h1>Kayla Effs</h1>
                <h2>@kyeekk</h2>
                <h2>Kingston, Jamaica</h2>
                <h2>{{date_joined}}</h2>
            </div>
        </div>
        <div class="profile-body">
            <p>
                I am a smart and talented young woman who loves 
                website design and development. Contact me if 
                you'd like to work together on a new project.
            </p>
            <ul>
                <li>
                    <span class="value">70</span>
                    <span>Posts</span>
                </li>
                <li>
                    <span class="value">10</span>
                    <span>Following</span>
                </li>
                <li>
                    <span class="value">2.5E+10</span>
                    <span>Followers</span>
                </li>
            </ul>
            <button class="button-follow">Follow</button>
        </div>
    </div>
</section>
{% endblock %}